<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CatsApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36A6A8DF2AAA019C0085F27C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36A6A8EF2AAA019F0085F27C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36A6A8F92AAA019F0085F27C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
